nav[role=navigation] {
    border-color:#1c6abd;
    background:#1c6abd;
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(66%, rgba(28,106,189,1)), color-stop(100%, rgba(24,94,163,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#185ea3', GradientType=0 );
    -webkit-box-shadow: 0px 10px 32px -6px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 10px 32px -6px rgba(0,0,0,0.37);
    box-shadow: 0px 10px 32px -6px rgba(0,0,0,0.37);
}

.cabeceraForm{
    background-color:#1c6abd;
    color:white;
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(66%, rgba(28,106,189,1)), color-stop(100%, rgba(24,94,163,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(28,106,189,1) 66%, rgba(24,94,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#185ea3', GradientType=0 );
}

.btn-default{
    color:white;
    border-color: rgba(175,255,84,1);
    background: rgba(175,255,84,1);
    background: -moz-linear-gradient(top, rgba(175,255,84,1) 0%, rgba(31,212,15,1) 78%, rgba(31,212,15,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175,255,84,1)), color-stop(78%, rgba(31,212,15,1)), color-stop(100%, rgba(31,212,15,1)));
    background: -webkit-linear-gradient(top, rgba(175,255,84,1) 0%, rgba(31,212,15,1) 78%, rgba(31,212,15,1) 100%);
    background: -o-linear-gradient(top, rgba(175,255,84,1) 0%, rgba(31,212,15,1) 78%, rgba(31,212,15,1) 100%);
    background: -ms-linear-gradient(top, rgba(175,255,84,1) 0%, rgba(31,212,15,1) 78%, rgba(31,212,15,1) 100%);
    background: linear-gradient(to bottom, rgba(175,255,84,1) 0%, rgba(31,212,15,1) 78%, rgba(31,212,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afff54', endColorstr='#1fd40f', GradientType=0 );
-webkit-box-shadow: 10px 10px 12px -7px rgba(0,0,0,0.33);
-moz-box-shadow: 10px 10px 12px -7px rgba(0,0,0,0.33);
box-shadow: 10px 10px 12px -7px rgba(0,0,0,0.33);


}

.btn-default:hover{
    color:lightgray;
    background: rgba(145,214,66,1);
    background: -moz-linear-gradient(top, rgba(145,214,66,1) 0%, rgba(33,184,13,1) 78%, rgba(33,184,13,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,214,66,1)), color-stop(78%, rgba(33,184,13,1)), color-stop(100%, rgba(33,184,13,1)));
    background: -webkit-linear-gradient(top, rgba(145,214,66,1) 0%, rgba(33,184,13,1) 78%, rgba(33,184,13,1) 100%);
    background: -o-linear-gradient(top, rgba(145,214,66,1) 0%, rgba(33,184,13,1) 78%, rgba(33,184,13,1) 100%);
    background: -ms-linear-gradient(top, rgba(145,214,66,1) 0%, rgba(33,184,13,1) 78%, rgba(33,184,13,1) 100%);
    background: linear-gradient(to bottom, rgba(145,214,66,1) 0%, rgba(33,184,13,1) 78%, rgba(33,184,13,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91d642', endColorstr='#21b80d', GradientType=0 );
}

