@media (max-width: 480px){
    .pie li {
        margin:0em 1em 0em 1em;
        list-style:none;
        display:inline-block;
        color:white;
    }
    .cuerpo{
        min-height: 10em;
    }
    .cabeceraProductos{
        display: none;
    }
    
    input[type=text].ordenEspecial{
        width:11.85em;
    }
    
    #formFlotanteCaja{ 
        min-height:40em;
    }
    #formFlotanteCaja span{
        font-size:1.2em;
        margin-left:1em;
    }
     
}