nav[role=navigation] {
    background:#DA4540;
}

.logo{
    width:18em;
    margin:1em;
}

.menu li button{
    padding:1em 3em 1em 3em;
}

nav li button{
    color:white !important;
}

nav li button:hover{
    text-decoration:none !important;
    background-color:black !important;
}



.dropdown-menu button{
    color:black !important;
    margin-left:1.2em;
}

.dropdown-menu button:hover{
    color:white !important;
    text-decoration:none;
}

.userNav {
    margin-top: 0.1em;
    color:white !important;
}

.userNav:hover {
    padding:1.15em 1.08em 1.15em 1.08em;
    margin-top: 0em;
    background-color:black !important;
}

.pie{
    background-color:grey;
    clear:both;
    height: 5em;
}

.pie li {
    margin:1.8em 5em 1.8em 5em;
    list-style:none;
    display:inline-block;

}
.pie li a{
    color:white;
}
.pie li a:hover{
    text-decoration:none;
}
.cuerpo{
    min-height: 30em;
    margin-top:0.2em;
}

#marcaLegal{
    background-color:black;
    color:white;
    font-size:0.7em;
}

.cabeceraForm{
    background-color:#DA4540;
    color:white;
    font-size:1.5em;
    border-radius:2em 2em 0em 0em;
    margin-bottom:2em;
    margin:0em -0.75em 1.25em -0.75em;
}

.formularios{
    border-radius:3em 3em 2em 2em;
    border:solid 0.1em #BDBDBD;
    margin-top:2em;
}

#search input[type=text]{
    width:104%;
}

#nuevoProducto{
    margin-top:-1.2em;
    margin-left:0.8em;
}

.save:hover{
    color:#64FE2E;
}

.drop:hover{
    color:#FF0000;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.cabeceraProductos{
    border-bottom: #BDBDBD 0.2em solid;
}

#formProductos{
    max-height: 25em;
	overflow-y: auto;
	overflow-x: hidden;
}

.platoMenu{
    height:13em;
    overflow:hidden;
    margin-bottom:1em;
}

.platoMenu img{
    margin-top:1em;
}

.platoMenu:hover{
   border:solid #c9302c 0.1em;
}

.platoFoto{
    float:left;
    margin-right:1em;;
}

.textDescripcion{
    margin:1em;
}

.formularios input[type=text],input[type=email],input[type=date],input[type=number]{
    height:2em !important;
}
input[type=checkbox]{
    height:1.2em !important;
}
.formTickets:hover{
    cursor:pointer; cursor: hand;	
}

.categoria{
    margin-left:5.4em;
    margin-top:2em;
}

.subNav{
    background-color:#E6E6E6;
    margin-top:-1.25em;
    border-top:solid #BDBDBD 0.1em;
    border-bottom:solid #BDBDBD 0.1em;
    height:1.7em;
}
.subNav ul li{
    margin-top:-1em;
    display:inline-block;
    list-style:none;
    text-decoration:none;
    color:#A4A4A4;
}
.subNav ul li button{
    color:black;
}
.subNav ul li button:hover{
    text-decoration:none;
    color:#A4A4A4;
}

.botonPlatoMenu{
    margin-top:-0.5em;
    margin-bottom:0.5em;
}
input[type=text].ordenEspecial{
    width:15.85em;
    height:1.5em !important;
    font-size:0.8em;
}